In [1]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction import text
#for recommending and finding out vector similarity
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
data = pd.read_csv("netflixData.csv")

In [3]:
print(data.head())

                                Show Id                          Title  \
0  cc1b6ed9-cf9e-4057-8303-34577fb54477                       (Un)Well
1  e2ef4e91-fb25-42ab-b485-be8e3b23dedb                         #Alive
2  b01b73b7-81f6-47a7-86d8-acb63080d525  #AnneFrank - Parallel Stories
3  b6611af0-f53c-4a08-9ffa-9716dc57eb9c                       #blackAF
4  7f2d4170-bab8-4d75-adc2-197f7124c070               #cats_the_mewvie

                                         Description  \
0  This docuseries takes a deep dive into the luc...
1  As a grisly virus rampages a city, a lone man ...
2  Through her diary, Anne Frank's story is retol...
3  Kenya Barris and his family navigate relations...
4  This pawesome documentary explores how our fel...

                      Director  \
0                          NaN
1                       Cho Il
2  Sabina Fedeli, Anna Migotto
3                          NaN
4             Michael Margolis

                                           Genres  \
0                                      Reality TV
1  Horror Movies, International Movies, Thrillers
2             Documentaries, International Movies
3                                     TV Comedies
4             Documentaries, International Movies

                                                Cast Production Country  \
0                                                NaN      United States
1                           Yoo Ah-in, Park Shin-hye        South Korea
2                        Helen Mirren, Gengher Gatti              Italy
3  Kenya Barris, Rashida Jones, Iman Benson, Genn...      United States
4                                                NaN             Canada

   Release Date Rating  Duration Imdb Score Content Type         Date Added
0        2020.0  TV-MA  1 Season     6.6/10      TV Show                NaN
1        2020.0  TV-MA    99 min     6.2/10        Movie  September 8, 2020
2        2019.0  TV-14    95 min     6.4/10        Movie       July 1, 2020
3        2020.0  TV-MA  1 Season     6.6/10      TV Show                NaN
4        2020.0  TV-14    90 min     5.1/10        Movie   February 5, 2020

In [4]:
print(data.isnull().sum())

Show Id                  0
Title                    0
Description              0
Director              2064
Genres                   0
Cast                   530
Production Country     559
Release Date             3
Rating                   4
Duration                 3
Imdb Score             608
Content Type             0
Date Added            1335
dtype: int64

In [5]:
data = data[["Title", "Description", "Genres", "Content Type"]]
print(data.head())

                           Title  \
0                       (Un)Well
1                         #Alive
2  #AnneFrank - Parallel Stories
3                       #blackAF
4               #cats_the_mewvie

                                         Description  \
0  This docuseries takes a deep dive into the luc...
1  As a grisly virus rampages a city, a lone man ...
2  Through her diary, Anne Frank's story is retol...
3  Kenya Barris and his family navigate relations...
4  This pawesome documentary explores how our fel...

                                           Genres Content Type
0                                      Reality TV      TV Show
1  Horror Movies, International Movies, Thrillers        Movie
2             Documentaries, International Movies        Movie
3                                     TV Comedies      TV Show
4             Documentaries, International Movies        Movie

In [6]:
print(data.isnull().sum())

Title           0
Description     0
Genres          0
Content Type    0
dtype: int64

In [7]:
data = data.dropna()

In [8]:
data

,Title,Description,Genres,Content Type
0,(Un)Well,This docuseries takes a deep dive into the luc...,Reality TV,TV Show
1,#Alive,"As a grisly virus rampages a city, a lone man ...","Horror Movies, International Movies, Thrillers",Movie
2,#AnneFrank - Parallel Stories,"Through her diary, Anne Frank's story is retol...","Documentaries, International Movies",Movie
3,#blackAF,Kenya Barris and his family navigate relations...,TV Comedies,TV Show
4,#cats_the_mewvie,This pawesome documentary explores how our fel...,"Documentaries, International Movies",Movie
...,...,...,...,...
5962,الف مبروك,"On his wedding day, an arrogant, greedy accoun...","Comedies, Dramas, International Movies",Movie
5963,دفعة القاهرة,A group of women leaves Kuwait to attend unive...,"International TV Shows, TV Dramas",TV Show
5964,海的儿子,"Two brothers start a new life in Singapore, wh...","International TV Shows, TV Dramas",TV Show
5965,반드시 잡는다,After people in his town start turning up dead...,"Dramas, International Movies, Thrillers",Movie
5966,최강전사 미니특공대 : 영웅의 탄생,"Miniforce, a special task force of elite range...",Children & Family Movies,Movie

In [9]:
#NLP library
import nltk
#Regular Expression library
import re
nltk.download('stopwords')#Download extemsion
stemmer = nltk.SnowballStemmer("english") #create stemmer method
from nltk.corpus import stopwords #load stopwords
import string
stopword = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/aparimita/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [38]:
def clean(text):
    text = str(text).lower()
    text = re.sub('\[.*?\]', '',text)
    text = re.sub('https?://\S+|www\.\S+', '',text)
    text = re.sub('<.*?>+', '',text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '',text)
    text = re.sub('\n', '',text)
    text = re.sub('\w*\d\w*', '',text)

    text = [word for word in text.split(' ') if word not in stopword]
    text = " ".join(text)

    return text

data["Title"] = data["Title"].apply(clean)

In [39]:
print(data.Title.sample(10))

2661    none
1952    none
5517    none
4719    none
3837    none
2715    none
4174    none
1159    none
3352    none
5852    none
Name: Title, dtype: object

In [37]:
data

,Title,Description,Genres,Content Type
0,None,This docuseries takes a deep dive into the luc...,Reality TV,TV Show
1,None,"As a grisly virus rampages a city, a lone man ...","Horror Movies, International Movies, Thrillers",Movie
2,None,"Through her diary, Anne Frank's story is retol...","Documentaries, International Movies",Movie
3,None,Kenya Barris and his family navigate relations...,TV Comedies,TV Show
4,None,This pawesome documentary explores how our fel...,"Documentaries, International Movies",Movie
...,...,...,...,...
5962,None,"On his wedding day, an arrogant, greedy accoun...","Comedies, Dramas, International Movies",Movie
5963,None,A group of women leaves Kuwait to attend unive...,"International TV Shows, TV Dramas",TV Show
5964,None,"Two brothers start a new life in Singapore, wh...","International TV Shows, TV Dramas",TV Show
5965,None,After people in his town start turning up dead...,"Dramas, International Movies, Thrillers",Movie
5966,None,"Miniforce, a special task force of elite range...",Children & Family Movies,Movie

In [42]:
# NLP library
import nltk
# Regular Expression library
import re
# Download stopwords extension
nltk.download('stopwords')
stemmer = nltk.SnowballStemmer("english") # create stemmer method
from nltk.corpus import stopwords # load stopwords
import string

# Load the dataset
file_path = 'netflixData.csv'
data = pd.read_csv(file_path)

# Define the cleaning function
def clean(text):
    text = str(text).lower()
    text = re.sub(r'\[.*?\]', '', text)
    text = re.sub(r'https?://\S+|www\.\S+', '', text)
    text = re.sub(r'<.*?>+', '', text)
    text = re.sub(r'[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub(r'\n', '', text)
    text = re.sub(r'\w*\d\w*', '', text)

    stopword = set(stopwords.words('english'))
    text = [word for word in text.split() if word not in stopword]
    text = " ".join(text)
    
    return text

# Apply the cleaning function
data["Title"] = data["Title"].apply(clean)

# Display a sample of cleaned titles
print(data.Title.sample(10))

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/aparimita/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

5537                      tunnel
2064                  himmatwala
2558                    kiss cry
3503                  omar salma
2451                 justin time
4772         devil father amorth
2943                manje bistre
734                     blue jay
2702           leyla everlasting
5234    super parental guardians
Name: Title, dtype: object

In [44]:
data.Genres[20:100]

20              Crime TV Shows, TV Dramas, TV Mysteries
21                           Crime TV Shows, Docuseries
22                                        Documentaries
23                                        Documentaries
24                 Comedies, Dramas, Independent Movies
                            ...
95    Children & Family Movies, Dramas, Romantic Movies
96    Children & Family Movies, Dramas, Romantic Movies
97                                               Movies
98    Children & Family Movies, Comedies, Music & Mu...
99                  Horror Movies, International Movies
Name: Genres, Length: 80, dtype: object

In [48]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [54]:
feature = data['Genres'].tolist()
#Create an instance of TF-IDF-Vectorizer
tfidf = TfidfVectorizer(stop_words="english")

#Fit and transform the vectorizer on our corpus
tfidf_matrix = tfidf.fit_transform(feature)

#Compute the cosine similarity matrix
similarity = cosine_similarity(tfidf_matrix)

indices = pd.Series(data.index, index = data['Title']).drop_duplicates()

In [59]:
def netflix_recommendation(title, similarity = similarity):
    try:
        index = indices[title]
        similarity_scores = list(enumerate(similarity[index]))
        similarity_scores = sorted(similarity_scores, key = lambda x: x[1], reverse=True)
        similarity_scores = similarity_scores[0:10]
        movieindices = [i[0] for i in similarity_scores]
        return data['Title'].iloc[movieindices]
    except:
        print(title, "Not in Database")

In [60]:
data

,Show Id,Title,Description,Director,Genres,Cast,Production Country,Release Date,Rating,Duration,Imdb Score,Content Type,Date Added
0,cc1b6ed9-cf9e-4057-8303-34577fb54477,unwell,This docuseries takes a deep dive into the luc...,NaN,Reality TV,NaN,United States,2020.0,TV-MA,1 Season,6.6/10,TV Show,NaN
1,e2ef4e91-fb25-42ab-b485-be8e3b23dedb,alive,"As a grisly virus rampages a city, a lone man ...",Cho Il,"Horror Movies, International Movies, Thrillers","Yoo Ah-in, Park Shin-hye",South Korea,2020.0,TV-MA,99 min,6.2/10,Movie,"September 8, 2020"
2,b01b73b7-81f6-47a7-86d8-acb63080d525,annefrank parallel stories,"Through her diary, Anne Frank's story is retol...","Sabina Fedeli, Anna Migotto","Documentaries, International Movies","Helen Mirren, Gengher Gatti",Italy,2019.0,TV-14,95 min,6.4/10,Movie,"July 1, 2020"
3,b6611af0-f53c-4a08-9ffa-9716dc57eb9c,blackaf,Kenya Barris and his family navigate relations...,NaN,TV Comedies,"Kenya Barris, Rashida Jones, Iman Benson, Genn...",United States,2020.0,TV-MA,1 Season,6.6/10,TV Show,NaN
4,7f2d4170-bab8-4d75-adc2-197f7124c070,catsthemewvie,This pawesome documentary explores how our fel...,Michael Margolis,"Documentaries, International Movies",NaN,Canada,2020.0,TV-14,90 min,5.1/10,Movie,"February 5, 2020"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5962,62b8b682-f191-4c10-aa04-32319329bd8d,الف مبروك,"On his wedding day, an arrogant, greedy accoun...",Ahmed Nader Galal,"Comedies, Dramas, International Movies","Ahmed Helmy, Laila Ezz El Arab, Mahmoud El Fis...",Egypt,2009.0,TV-14,115 min,7.4/10,Movie,"April 25, 2020"
5963,5bed77ab-5e31-4216-8b51-44c9a35442e6,دفعة القاهرة,A group of women leaves Kuwait to attend unive...,NaN,"International TV Shows, TV Dramas","Bashar al-Shatti, Fatima Al Safi, Maram Baloch...",NaN,2019.0,TV-14,1 Season,NaN,TV Show,NaN
5964,4661ec0c-8692-4661-bc76-a96412b311fd,海的儿子,"Two brothers start a new life in Singapore, wh...",NaN,"International TV Shows, TV Dramas","Li Nanxing, Christopher Lee, Jesseca Liu, Appl...",NaN,2016.0,TV-14,1 Season,NaN,TV Show,NaN
5965,145c93a7-1924-403c-a933-4ede8ad66f26,반드시 잡는다,After people in his town start turning up dead...,Hong-seon Kim,"Dramas, International Movies, Thrillers",Baek Yoon-sik,South Korea,2017.0,TV-MA,110 min,6.5/10,Movie,"February 28, 2018"
5966,d4613d34-cb71-4bd6-b570-fa857f02c44d,최강전사 미니특공대 영웅의 탄생,"Miniforce, a special task force of elite range...",Young Jun Lee,Children & Family Movies,"Um Sang-hyun, Yang Jeong-hwa, Jeon Tae-yeol, S...",NaN,2018.0,TV-Y7,68 min,4.7/10,Movie,"September 1, 2018"

In [63]:
netflix_recommendation("unwell")

0                         unwell
68                          days
305                        alone
322      americas next top model
406                          one
468    awake million dollar game
615          best leftovers ever
694      black ink crew new york
720                 bling empire
843              buried bernards
Name: Title, dtype: object